body {
  background-color: lightblue;
}

p { margin-left: 40px; }


/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
 #interface{
  max-width: 75%;
  justify-content: space-around;
  object-fit: cover;
 }


 .persona{
   max-width: 85%;
   height:auto;
   justify-content: space-around;
   object-fit: cover;
 }

 
 .figure{
  max-width: 600px;
   
   justify-content: space-around;
   object-fit: cover;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 30px;
   display: flex;
  flex-wrap: wrap;
 }
 
 .sb{
  width: 60%;

  justify-content: space-around;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  
 }
 

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-wrap: wrap;
  
}



